<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cek Odd Even</title>
</head>
<body>
<h1 align="left"> Cek Ganjil Genap </h1>
<form action="table" method="post" align="left">
    <label for="Num1">Angka pertama :</label><br>
    <input type="number" id="Num1" name="num1" value="" required ><br><br>
    <label for="Num2">Angka kedua :</label><br>
    <input type="number" id="Num2" name="num2" value="" required><br><br>
    <input type="submit" value="Cek Ganjil Genap" name="type">
    <h1 th:text="${result}"></h1>
</form>
</body>
</html>
