<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
</head>
<body>
<h1 align="left" >Tabel Cek Ganjil Genap</h1>
<table border="3" cellpadding="6" align="left">
    <thead>
    <tr>
        <th colspan="4">Cek Ganjil Genap</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="num: ${allNum}">
        <td>Angka</td>
        <td th:text="${num.getNum}"></td>
        <td>adalah</td>
        <td th:text="${num.getOutput}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
